:root {
  --primaryColor: rgba(216, 21, 21, 0.8);
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --lightGrey: #F0F0F0;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-primarys {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primarys:hover {
  background: transparent;
  color: var(--primaryColor);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  height: 250px;
  display: block;
  transition: var(--mainTransition);
}

.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}

.recipe {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.recipe:hover {
  box-shadow: var(--darkShadow);
}

.img-container:hover .recipe-link {
  transform: translate(-50%, -50%) scale(1);
}


.recipe-info {
  background: rgb(255, 0, 0);
  color: var(--mainBlack);
  text-transform: uppercase;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0;
}

.recipeslist {
  padding: 2rem 0;
}
.recipeslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

.recipe-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}

@media screen and (min-width: 776px) {
  .roomslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .roomslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}

.homecarousel {
  padding: 1rem 0;
  margin: 0 auto;
  width: 80%;
}

.section-title {
  text-align: center;
  padding-bottom: 1rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}

.section-titleleft {
  text-align: left;
  padding-bottom: 1rem;
}
.section-titleleft h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
.section-titleleft div {
  width: 20rem;
  height: 5px;
  background: var(--primaryColor);
}

.carousel-inner img {
  position: absolute;
  top: 0;
  left: 0;
  height: 32rem;
  object-fit: cover !important;
  display: block;
}



.carousel-item {
  height: 32rem;
}

.carousel-div {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color:rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.carousel-div h2 {
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--offWhite);
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  border-bottom: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

.carousel-item:hover .carousel-div{
  bottom: 0;
  height: 100%;
}

.nutri-info{
  border-bottom-style: outset;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid;
  border-left-color: var(--lightGrey);
  border-right-color: var(--lightGrey);
  border-top-color: var(--lightGrey);
  text-align: center;
  padding-top: 1rem;
  width: 100%;
  left: 0px;
  right: 0px;

}

.single-recipe{
  margin: auto;
  width: 60%;
  padding-top: 10px;
  max-width: 100%;
  height: auto;
  left: 0px;
  right: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 5rem;
  
}
.rec-image img {
  width: 100%;
  left: 0px;
  right: 0px;
}

.ingredient-info{
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom-style: outset ;
  margin: auto ;
  width: 60%;
}

.ing-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 2rem;
}

.directions-info{
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: auto ;
  width: 60%;
  font-size: 2rem;

}

.chef-info{
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: auto ;
  width: 60%;
}

.recipe-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(219, 2, 2, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.recipe-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}

.filter-container{
  margin: auto ;
  width: 80%;
  padding-bottom: 1rem;
  border-top-style: solid ;
  border-bottom-style: solid ;
  border-top-color: var(--lightGrey);
  border-bottom-color: var(--mainGrey);

}

.NavBar {
  margin: 0 auto;
  width: 80%;
}

